/* ux-measure-lab · mode=light · source=core */
:root {
  --background-default: #ffffff;
  --blue-100: #d9f2ff;
  --blue-150: #c2ebff;
  --blue-200: #80d4ff;
  --blue-300: #50b6fe;
  --blue-400: #148aff;
  --blue-500: #005ccc;
  --blue-600: #0049a3;
  --blue-700: #003676;
  --blue-800: #001e42;
  --border-disabled-01: #d5d8dd;
  --border-disabled-02: #d5d8dd;
  --border-disabled-03: #d5d8dd;
  --border-disabled-04: #d5d8dd;
  --border-feedback-critical: #e0282f;
  --border-feedback-info: #93B4FF;
  --border-inverse: #191a1b;
  --border-on-dark-disabled: #55585d;
  --border-opacity-white: rgba(255, 255, 255, 0.6500);
  --border-primary-01: #8b8f97;
  --border-primary-02: #8b8f97;
  --border-primary-03: #8b8f97;
  --border-primary-04: #8b8f97;
  --border-primary-focused: #2563FF;
  --border-primary-hover-01: #55585d;
  --border-primary-hover-02: #4a4c50;
  --border-primary-hover-03: #55585d;
  --border-primary-hover-04: #55585d;
  --border-primary-pressed: #191a1b;
  --border-secondary-01: #e9eaee;
  --border-secondary-02: #d5d8dd;
  --border-secondary-03: #e9eaee;
  --border-secondary-04: #e9eaee;
  --border-tertiary-01: #f3f4f6;
  --border-tertiary-02: #eeeff2;
  --border-tertiary-03: #f3f4f6;
  --border-tertiary-04: #f3f4f6;
  --dim-gradient-bg-end: rgba(255, 255, 255, 0.0000);
  --dim-gradient-bg-start: #ffffff;
  --dim-gradient-chip-end: rgba(255, 255, 255, 0.0000);
  --dim-gradient-chip-start: #ffffff;
  --dim-gradient-prompt-area-end: rgba(255, 255, 255, 0.0000);
  --dim-gradient-prompt-area-start: #ffffff;
  --dim-gradient-sheet-end: rgba(255, 255, 255, 0.0000);
  --dim-gradient-sheet-start: #ffffff;
  --dim-overlay: rgba(20, 20, 20, 0.6500);
  --elevation-level-0: #ffffff;
  --elevation-level-1: #ffffff;
  --elevation-level-2: #f8f9fa;
  --elevation-level-3: #ffffff;
  --elevation-level-4: #ffffff;
  --fill-accent-primary: #2462fe;
  --fill-accent-primary-hover: #0f46d7;
  --fill-accent-primary-pressed: #0029a9;
  --fill-disabled-01: #f3f4f6;
  --fill-disabled-02: #eeeff2;
  --fill-disabled-03: #f3f4f6;
  --fill-disabled-04: #f3f4f6;
  --fill-feedback-critical-hover: #fce9e9;
  --fill-feedback-critical-pressed: #fadbdc;
  --fill-feedback-info: #2563FF;
  --fill-feedback-info-disabled: #d5d8dd;
  --fill-on-dark-hover: #313235;
  --fill-on-dark-inverse: #3d3f43;
  --fill-on-dark-pressed: #232425;
  --fill-on-white-inverse: #ffffff;
  --fill-opacity-white: rgba(255, 255, 255, 0.6500);
  --fill-primary: #2563FF;
  --fill-primary-hover: #1D4ED8;
  --fill-primary-pressed: #1E40AF;
  --fill-secondary-01: #e9eaee;
  --fill-secondary-02: #e9eaee;
  --fill-secondary-03: #e9eaee;
  --fill-secondary-04: #e9eaee;
  --fill-secondary-hover-01: #d5d8dd;
  --fill-secondary-hover-02: #d5d8dd;
  --fill-secondary-hover-03: #d5d8dd;
  --fill-secondary-hover-04: #d5d8dd;
  --fill-secondary-pressed-01: #c7cad1;
  --fill-secondary-pressed-02: #c7cad1;
  --fill-secondary-pressed-03: #c7cad1;
  --fill-secondary-pressed-04: #c7cad1;
  --fill-tertiary: rgba(19, 20, 21, 0.0000);
  --fill-tertiary-hover-01: #f3f4f6;
  --fill-tertiary-hover-02: #e9eaee;
  --fill-tertiary-hover-03: #f3f4f6;
  --fill-tertiary-hover-04: #f3f4f6;
  --fill-tertiary-pressed-01: #e9eaee;
  --fill-tertiary-pressed-02: #d5d8dd;
  --fill-tertiary-pressed-03: #e9eaee;
  --fill-tertiary-pressed-04: #e9eaee;
  --font-family-brand: Pretendard;
  --font-family-pretendard: Pretendard;
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-14: 14px;
  --font-size-15: 15px;
  --font-size-16: 16px;
  --font-size-17: 17px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-32: 32px;
  --font-size-36: 36px;
  --font-size-40: 40px;
  --font-size-60: 60px;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --gradient-ai-indicator-accent-end: #e1f5f5;
  --gradient-ai-indicator-accent-start: #007f7f;
  --gradient-ai-indicator-end: #191a1b;
  --gradient-ai-indicator-start: #55585d;
  --gradient-ai-indicator-stop: #8b8f97;
  --gradient-graph-accent-alpha: rgba(76, 200, 195, 0.0000);
  --gradient-graph-accent-end: #4cc8c3;
  --gradient-graph-accent-start: #007f7f;
  --gradient-skeleton-element: #f3f4f6;
  --gradient-skeleton-end-start: rgba(255, 255, 255, 0.0000);
  --gradient-skeleton-stop: rgba(255, 255, 255, 0.5000);
  --gray-100: #e9eaed;
  --gray-150: #d6d8da;
  --gray-200: #c9cacd;
  --gray-25: #f7f9fc;
  --gray-250: #bbbdbf;
  --gray-300: #afb1b3;
  --gray-350: #a2a4a6;
  --gray-400: #8e8f91;
  --gray-450: #7d7e80;
  --gray-50: #f3f4f7;
  --gray-500: #727375;
  --gray-550: #636466;
  --gray-600: #57585a;
  --gray-650: #4b4c4e;
  --gray-700: #3e3f41;
  --gray-75: #eeeff2;
  --gray-750: #313234;
  --gray-800: #232426;
  --gray-850: #1e1f21;
  --gray-900: #191a1c;
  --green-100: #e5f5e1;
  --green-150: #d0edc9;
  --green-200: #8dd47d;
  --green-300: #3ab21f;
  --green-400: #1c9900;
  --green-500: #167a00;
  --green-600: #136600;
  --green-700: #0c4200;
  --green-800: #072900;
  --gutter-platform: 12px;
  --icon-size-large: 32px;
  --icon-size-medium: 24px;
  --icon-size-small: 20px;
  --icon-size-xlarge: 48px;
  --icon-size-xsmall: 16px;
  --icon-size-xxlarge: 56px;
  --icon-size-xxsmall: 12px;
  --icon-disabled-01: #adb1b9;
  --icon-disabled-02: #9fa4ad;
  --icon-disabled-03: #adb1b9;
  --icon-disabled-04: #adb1b9;
  --icon-feedback-complete: #191a1b;
  --icon-feedback-critical-01: #e0282f;
  --icon-feedback-critical-02: #bb1b21;
  --icon-feedback-critical-03: #e0282f;
  --icon-feedback-critical-04: #e0282f;
  --icon-feedback-Info-01: #007f7f;
  --icon-feedback-Info-02: #005e66;
  --icon-feedback-Info-03: #007f7f;
  --icon-feedback-Info-04: #007f7f;
  --icon-feedback-on-dark-critical: #ec797d;
  --icon-feedback-on-dark-Info: #4cc8c3;
  --icon-inverse: #ffffff;
  --icon-primary: #0A1A3A;
  --icon-secondary-01: #55585d;
  --icon-secondary-02: #4a4c50;
  --icon-secondary-03: #55585d;
  --icon-secondary-04: #55585d;
  --icon-tertiary-01: #6f737b;
  --icon-tertiary-02: #61646b;
  --icon-tertiary-03: #6f737b;
  --icon-tertiary-04: #6f737b;
  --indicator-dot-fill-default: rgba(25, 26, 27, 0.5000);
  --indicator-dot-fill-default-active: #191a1b;
  --indicator-dot-fill-inverse: rgba(255, 255, 255, 0.4500);
  --indicator-dot-fill-inverse-active: rgba(255, 255, 255, 0.9500);
  --line-height-default: 148%;
  --line-height-reading-1: 170%;
  --line-height-reading-2: 158%;
  --line-height-reading-3: 130%;
  --link-link-primary: #2462fe;
  --link-link-primary-hover: #0029a9;
  --link-link-primary-pressed: #0029a9;
  --margin-platform: 20px;
  --motion-duration-long: 300ms;
  --motion-duration-loop: 1000ms;
  --motion-duration-medium: 200ms;
  --motion-duration-short: 100ms;
  --motion-easing-ease-in: cubic-bezier (0.4,0,1,1);
  --motion-easing-ease-in-out: cubic-bezier (0.4,0,0.5,1);
  --motion-easing-ease-out: cubic-bezier (0,0,0.5,1);
  --motion-easing-linear: cubic-bezier (0,0,1,1);
  --olive-100: #ebf5d8;
  --olive-150: #e2f0c6;
  --olive-200: #b3d96d;
  --olive-300: #82b620;
  --olive-400: #639900;
  --olive-500: #538000;
  --olive-600: #426600;
  --olive-700: #2e4700;
  --olive-800: #1e2e00;
  --opacity-black-0: rgba(19, 20, 21, 0.0000);
  --opacity-black-10: rgba(19, 20, 21, 0.1000);
  --opacity-black-15: rgba(19, 20, 21, 0.1500);
  --opacity-black-20: rgba(19, 20, 21, 0.2000);
  --opacity-black-25: rgba(19, 20, 21, 0.2500);
  --opacity-black-30: rgba(19, 20, 21, 0.3000);
  --opacity-black-35: rgba(19, 20, 21, 0.3500);
  --opacity-black-40: rgba(19, 20, 21, 0.4000);
  --opacity-black-45: rgba(19, 20, 21, 0.4500);
  --opacity-black-5: rgba(19, 20, 21, 0.0500);
  --opacity-black-50: rgba(19, 20, 21, 0.5000);
  --opacity-black-55: rgba(19, 20, 21, 0.5500);
  --opacity-black-60: rgba(19, 20, 21, 0.6000);
  --opacity-black-65: rgba(20, 20, 20, 0.6500);
  --opacity-black-70: rgba(19, 20, 21, 0.7000);
  --opacity-black-75: rgba(19, 20, 21, 0.7500);
  --opacity-black-80: rgba(19, 20, 21, 0.8000);
  --opacity-black-85: rgba(19, 20, 21, 0.8500);
  --opacity-black-90: rgba(19, 20, 21, 0.9000);
  --opacity-black-95: rgba(19, 20, 21, 0.9500);
  --opacity-white-0: rgba(255, 255, 255, 0.0000);
  --opacity-white-10: rgba(255, 255, 255, 0.1000);
  --opacity-white-15: rgba(255, 255, 255, 0.1500);
  --opacity-white-20: rgba(255, 255, 255, 0.2000);
  --opacity-white-25: rgba(255, 255, 255, 0.2500);
  --opacity-white-30: rgba(255, 255, 255, 0.3000);
  --opacity-white-35: rgba(255, 255, 255, 0.3500);
  --opacity-white-40: rgba(255, 255, 255, 0.4000);
  --opacity-white-45: rgba(255, 255, 255, 0.4500);
  --opacity-white-5: rgba(255, 255, 255, 0.0500);
  --opacity-white-50: rgba(255, 255, 255, 0.5000);
  --opacity-white-55: rgba(255, 255, 255, 0.5500);
  --opacity-white-60: rgba(255, 255, 255, 0.6000);
  --opacity-white-65: rgba(255, 255, 255, 0.6500);
  --opacity-white-70: rgba(255, 255, 255, 0.7000);
  --opacity-white-75: rgba(255, 255, 255, 0.7500);
  --opacity-white-80: rgba(255, 255, 255, 0.8000);
  --opacity-white-85: rgba(255, 255, 255, 0.8500);
  --opacity-white-90: rgba(255, 255, 255, 0.9000);
  --opacity-white-95: rgba(255, 255, 255, 0.9500);
  --purple-100: #efebff;
  --purple-150: #e7e0ff;
  --purple-200: #c7b8ff;
  --purple-300: #af99ff;
  --purple-400: #8666ff;
  --purple-500: #6941ff;
  --purple-600: #4c00e5;
  --purple-700: #3900ad;
  --purple-800: #1e005c;
  --radius-0: 0px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-circle: 999px;
  --red-100: #fce9e9;
  --red-150: #fadbdc;
  --red-200: #f2a6a9;
  --red-300: #ec797d;
  --red-400: #e54d53;
  --red-500: #e0282f;
  --red-600: #bb1b21;
  --red-700: #8a1418;
  --red-800: #3e090b;
  --slider-handle-border-default: #e9eaee;
  --slider-handle-border-disabled: #e9eaee;
  --slider-handle-fill-default: #ffffff;
  --slider-handle-fill-disabled: #f3f4f6;
  --space-10: 10px;
  --space-12: 12px;
  --space-16: 16px;
  --space-2: 2px;
  --space-20: 20px;
  --space-24: 24px;
  --space-32: 32px;
  --space-4: 4px;
  --space-40: 40px;
  --space-48: 48px;
  --space-56: 56px;
  --space-6: 6px;
  --space-64: 64px;
  --space-8: 8px;
  --space-80: 80px;
  --static-black: #131415;
  --static-white: #ffffff;
  --surface-on-white-inverse: #f8f9fa;
  --surface-primary-01: #ffffff;
  --surface-primary-02: #f8f9fa;
  --surface-primary-03: #ffffff;
  --surface-primary-04: #ffffff;
  --switch-handle-fill-default: #ffffff;
  --switch-handle-fill-disabled: #ffffff;
  --tag-category-fill-basic: #e9eaee;
  --tag-category-fill-basic-02: #e9eaee;
  --tag-category-fill-hot: #d9f2ff;
  --tag-category-fill-hot-02: #d9f2ff;
  --tag-category-fill-new: #efebff;
  --tag-category-fill-new-02: #efebff;
  --tag-category-fill-recommend: #e1f5f5;
  --tag-category-fill-recommend-02: #e1f5f5;
  --tag-category-fill-sale: #fce9e9;
  --tag-category-fill-sale-02: #fce9e9;
  --tag-category-text-basic: #55585d;
  --tag-category-text-basic-02: #55585d;
  --tag-category-text-hot: #0049a3;
  --tag-category-text-new: #4c00e5;
  --tag-category-text-recommend: #005e66;
  --tag-category-text-sale: #bb1b21;
  --tag-membership-fill-all: #005ccc;
  --tag-membership-fill-gold: #b85c00;
  --tag-membership-fill-silver: #6f737b;
  --tag-membership-fill-silver-02: #6f737b;
  --tag-membership-fill-standard: #e9eaee;
  --tag-membership-fill-standard-02: #e9eaee;
  --tag-membership-fill-vip: #191a1b;
  --tag-membership-fill-vvip: #e0282f;
  --tag-membership-fill-white: #e9eaee;
  --tag-membership-fill-white-02: #e9eaee;
  --tag-membership-text-inverse: #ffffff;
  --tag-membership-text-primary: #191a1b;
  --tag-membership-text-secondary: #55585d;
  --tag-membership-text-secondary-02: #55585d;
  --tag-status-fill-complete: #e9eaee;
  --tag-status-fill-complete-02: #e9eaee;
  --tag-status-fill-critical: #fce9e9;
  --tag-status-fill-critical-02: #fce9e9;
  --tag-status-fill-custom-a: #ebf5d8;
  --tag-status-fill-custom-a-02: #ebf5d8;
  --tag-status-fill-custom-b: #efebff;
  --tag-status-fill-custom-b-02: #efebff;
  --tag-status-fill-default: #e9eaee;
  --tag-status-fill-default-02: #e9eaee;
  --tag-status-fill-disabled: #f3f4f6;
  --tag-status-fill-disabled-02: #f3f4f6;
  --tag-status-fill-info: #e1f5f5;
  --tag-status-fill-info-02: #e1f5f5;
  --tag-status-fill-positive: #e5f5e1;
  --tag-status-fill-positive-02: #e5f5e1;
  --tag-status-fill-progress: #d9f2ff;
  --tag-status-fill-progress-02: #d9f2ff;
  --tag-status-fill-warning: #fff3e5;
  --tag-status-fill-warning-02: #fff3e5;
  --tag-status-text-complete: #191a1b;
  --tag-status-text-critical: #bb1b21;
  --tag-status-text-custom-a: #426600;
  --tag-status-text-custom-b: #4c00e5;
  --tag-status-text-default: #55585d;
  --tag-status-text-disabled: #adb1b9;
  --tag-status-text-info: #005e66;
  --tag-status-text-lighten-complete: #232425;
  --tag-status-text-lighten-complete-02: #232425;
  --tag-status-text-lighten-critical: #e0282f;
  --tag-status-text-lighten-critical-02: #e0282f;
  --tag-status-text-lighten-custom-a: #538000;
  --tag-status-text-lighten-custom-a-02: #538000;
  --tag-status-text-lighten-custom-b: #6941ff;
  --tag-status-text-lighten-custom-b-02: #6941ff;
  --tag-status-text-lighten-default: #6f737b;
  --tag-status-text-lighten-default-02: #6f737b;
  --tag-status-text-lighten-disabled: #adb1b9;
  --tag-status-text-lighten-disabled-02: #adb1b9;
  --tag-status-text-lighten-info: #007f7f;
  --tag-status-text-lighten-info-02: #007f7f;
  --tag-status-text-lighten-positive: #167a00;
  --tag-status-text-lighten-positive-02: #167a00;
  --tag-status-text-lighten-progress: #005ccc;
  --tag-status-text-lighten-progress-02: #005ccc;
  --tag-status-text-lighten-warning: #b85c00;
  --tag-status-text-lighten-warning-02: #b85c00;
  --tag-status-text-positive: #136600;
  --tag-status-text-progress: #0049a3;
  --tag-status-text-warning: #8f4800;
  --teal-100: #e1f5f5;
  --teal-150: #cdeeee;
  --teal-200: #a9e5e1;
  --teal-300: #4cc8c3;
  --teal-400: #00a39b;
  --teal-500: #007f7f;
  --teal-600: #005e66;
  --teal-700: #00484e;
  --teal-800: #002629;
  --text-body-large: 16px;
  --text-body-medium: 15px;
  --text-body-small: 14px;
  --text-caption-medium: 12px;
  --text-disabled-01: #adb1b9;
  --text-disabled-02: #9fa4ad;
  --text-disabled-03: #adb1b9;
  --text-disabled-04: #adb1b9;
  --text-display-large: 40px;
  --text-display-medium: 36px;
  --text-display-xlarge: 60px;
  --text-feedback-complete: #191a1b;
  --text-feedback-critical-01: #e0282f;
  --text-feedback-critical-02: #bb1b21;
  --text-feedback-critical-03: #e0282f;
  --text-feedback-critical-04: #e0282f;
  --text-feedback-info-01: #1D4ED8;
  --text-feedback-info-02: #1D4ED8;
  --text-feedback-info-03: #2563FF;
  --text-feedback-info-04: #2563FF;
  --text-heading-large: 32px;
  --text-heading-medium: 24px;
  --text-heading-small: 22px;
  --text-inverse: #ffffff;
  --text-label-large: 17px;
  --text-label-medium: 15px;
  --text-label-small: 13px;
  --text-label-xsmall: 10px;
  --text-on-dark-disabled: #55585d;
  --text-primary: #0A1A3A;
  --text-secondary-01: #55585d;
  --text-secondary-02: #4a4c50;
  --text-secondary-03: #55585d;
  --text-secondary-04: #55585d;
  --text-tertiary-01: #6f737b;
  --text-tertiary-02: #61646b;
  --text-tertiary-03: #6f737b;
  --text-tertiary-04: #6f737b;
  --text-title-large: 20px;
  --text-title-medium: 18px;
  --text-title-small: 16px;
  --yellow-100: #fff3e5;
  --yellow-150: #ffe8d1;
  --yellow-200: #ffb870;
  --yellow-300: #fe9d38;
  --yellow-400: #e57300;
  --yellow-500: #b85c00;
  --yellow-600: #8f4800;
  --yellow-700: #663300;
  --yellow-800: #3d1f00;
}
